#myAnimoji {
    display: flex;
    justify-content: center;
    align-items: center;
}

#myAnimoji > img {
    width: 500px; 
    height:auto;
}

.myInfo p {
    text-align: justify;
}

/***********************************
Responsive
***********************************/
@media screen and (max-width: 600px) {
    #myAnimoji > img {
        max-width: 90%;
    }
}